{
  "presets": ["@babel/react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "ReactTestUtils": "react-dom/test-utils"
        }
      }
    ],
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining",
    "@babel/transform-flow-strip-types"
  ]
}
