{
  "presets": ["@babel/react", "@babel/flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "React": "react",
          "ReactDOM": "react-dom",
          "ReactTestUtils": "react-dom/test-utils"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining",
    "@babel/transform-flow-strip-types"
  ]
}
