{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "flow"
      }
    }
  ]
}
