# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [10.x, 12.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g yarn
    - run: cd packages/recoil-devtools && yarn install --frozen-lockfile
    - run: yarn install --frozen-lockfile
    - run: yarn flow
    - run: yarn test
    - run: yarn lint
    - run: yarn build
    - run: yarn pack
    - name: Create package
      uses: actions/upload-artifact@v2
      with:
        name: package
        path: "*.tgz"
